/runtime/*
/install.lock.php
/temp/*
/log/*
.idea/*
.settings
composer.lock
.project
.idea/*
.history/*
/public/.ENV
/vendor/luweiss/wechat/runtime/*
/config/local*
.buildpath
/vendor
/thinkphp
/runtime
.env
/public/api.html
/public/uploads/
/public/*api*
/public/apidoc/*
.vscode/

node_modules/
node_modules/*
/node_modules
dist/
